*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  
}

.App{
  background-color: #111;
}

.row__title{
  margin: 1rem 0;
  margin-left: 10px;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.85rem;
}

.row__posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px; 
}

.row__posters::-webkit-scrollbar{
    display: none;
  }  

.row__poster{
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;  
  transition: transform 450ms;
}

.row__poster:hover{
  transform: scale(1.08);
 
}
.row__posterLarge{
  max-height: 250px;
  
}

.banner{
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents{
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.banner__description{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: .8rem;
  max-width: 360px;
  height: 80px;
}
.banner__button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51,51,51, 0.5);
  padding-bottom: 0.5rem;
  transition: all ease 0.4s;
}
.banner__button:hover{
  color: #000;
  background-color: #fff;
 
}

/* .banner--fadeBottom{
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37, 0.61),
    #111
  )
} */

/* .nav__logo{
  position: absolute;
  height: 32px;
  width: 68px;
  top: 20px;
  left: 20px;
} */

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  z-index: 1;
  transition: all ease-in .5s ;
}
.nav__black{ 
  background-color: #111;
 
}

.nav__logo{
  position: fixed;
  left: 20px;
  width: 70px;
  object-fit: contain;
}

.nav__avatar{
  position: fixed;
  top: 15px;
  right: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  
  
}